* {
    font-family: "Vazirmatn", sans-serif;
    font-optical-sizing: auto;
}
body { background:#1e1e1e; color:#fff; padding:1rem; }
code { font-family: 'Fira Code', monospace; font-size: 14px; }
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}